<div class="table-filter">
    <div class="filters">
        <div class="rows">
            <div class="row" *ngFor="let row of arrayWithControls; let i = index">
                <mat-form-field appearance="outline">
                    <mat-label>Filter Field</mat-label>
                    <mat-select [formControl]="row.filterFieldControl"
                        (selectionChange)="onSelectFilterField($event.value, i)">
                        <mat-option *ngFor="let option of row.filterFields" [value]="option.value">{{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Values</mat-label>
                    <mat-select [formControl]="row.filterValueControl" multiple>
                        <mat-option *ngFor="let option of row.filterValues" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="actions">
                    <button [disabled]="filterCount === maxFilterCount || !row.filterFieldControl.value"
                        (click)="onAddFilter()">
                        <span class="material-icons">add</span>
                    </button>
                    <button [disabled]="filterCount === 1" (click)="onRemoveFilter(i)">
                        <span class="material-icons">remove</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="filter-actions">
            <button mat-button (click)="onResetFilter()">Reset Filter</button>
            <button mat-raised-button color="primary" [disabled]="isApplyFilterDisabled" (click)="onApplyFilter()">Apply
                Filter</button>
        </div>
    </div>
</div>