/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -14px !important;

    button:first-child {
        margin-right: 10px;
    }
}

.mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat-menu-item {
    display: flex !important;
    align-items: center;

    .material-icons {
        margin-right: 10px;
    }
}

.mat-column-actions {
    max-width: 24px;
}
