<header>
  <div class="logo">
    <img src="assets/library-logo.png" height="100px" />
  </div>
  <mat-list role="list">
    <mat-list-item
      role="listitem"
      routerLink="/books"
      routerLinkActive="active-link"
      >{{ "navigation.books" | transloco }}</mat-list-item
    >
    <mat-list-item
      role="listitem"
      routerLink="/films"
      routerLinkActive="active-link"
      >{{ "navigation.films" | transloco }}</mat-list-item
    >
    <mat-list-item
      *ngIf="isAdmin"
      role="listitem"
      routerLink="/users"
      routerLinkActive="active-link"
      >{{ "navigation.users" | transloco }}</mat-list-item
    >
    <mat-list-item
      role="listitem"
      routerLink="/contacts"
      routerLinkActive="active-link"
      >{{ "navigation.contacts" | transloco }}</mat-list-item
    >
    <mat-list-item
      role="listitem"
      routerLink="/about-us"
      routerLinkActive="active-link"
      >{{ "navigation.aboutUs" | transloco }}</mat-list-item
    >
  </mat-list>
  <div class="user-profile">User name</div>
</header>

<router-outlet></router-outlet>
